<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>ulises' personal website</title>
</head>
<body>
    <div class="header">
        <img src="../images/pfp.jpeg">
        <span>ulises</span>
        <button id="btn-home">home</button>
        <span class="separator">|</span>
        <button id="btn-about-me">about me</button>
        <span class="separator">|</span>
        <button id="btn-projects">projects</button>
        <span class="separator">|</span>
        <button id="btn-socials">socials</button>
    </div>

    <h3 class="div-title" id="title-about-me">about me</h3>
    <div class="presentation">
        <img src="../images/cat.jpg">
        <div class="about-me">
            <h3>hi! i'm ulises (˶ᵔᗜᵔ˶)ﾉﾞ</h3>
            <p>
                i do backend and mobile development ᓚ₍ ^. ̫ .^₎ <br><br>
                currently pursuing a bachelor's degree in information systems !
            </p>
        </div>
    </div>

    <h3 class="div-title" id="title-projects">projects</h3>
    <div class="projects">
        <div>
            <span>[ ⚔︎ ]</span>
            <h3><a target="_blank" href="https://github.com/UlisesChoco/Web-MMORPG">web mmorpg</a></h3>
            <p>
                my most loved project ♡ <br><br>
                i'm currently working on this one, it's an anime-inspired medieval mmorpg ! <br><br>
                built with <span class="stack">java/spring microservices, grpc and probably a node or nest gateway</span> ٩(｡•́‿•̀｡)۶
            </p>
        </div>
        <div>
            <span>[ ♡ ]</span>
            <h3><a target="_blank" href="https://github.com/UlisesChoco/ONG-Empuje-Comunitario">empuje comunitario</a></h3>
            <p>
                this one took lots of work <(￣︶￣)> <br><br>
                it's a full-stack web app for community support ! <br><br>
                built with <span class="stack">java/spring microservices, grpc, nodejs, kafka, rest and graphql</span> <br> ദ്ദി ˉ͈̀꒳ˉ͈́ )✧
            </p>
        </div>
    </div>

    <h3 class="div-title" id="title-socials">socials</h3>
    <div class="socials">
        <div>
            <img src="../images/pfp.jpeg">
            <a target="_blank" href="https://github.com/UlisesChoco">github</a>
        </div>
        <div>
            <img src="../images/discord.jpeg">
            <a target="_blank" href="https://discordapp.com/users/1195548082050433227">discord</a>
        </div>
        <div>
            <img src="../images/x.jpeg">
            <a target="_blank" href="https://x.com/chocolatada_dev">twitter/x</a>
        </div>
    </div>

    <script src="../../src/index.js"></script>
</body>
</html>