<html>
<head>
	<title>ulises' personal website</title>
</head>
<body>
	<section id="about-me">
  <header>
    <h2>about me !</h2>
    <p class="intro">
      i'll fill this later !
    </p>
  </header>

  <div class="about-main">
    <figure class="about-photo">
      <img src="#" />
      <figcaption>cool pinterest pic here o_o</figcaption>
    </figure>

    <div class="about-description">
      <h3>my description (o o</h3>
      <p>
		i'll write something here later c:
      </p>

      <blockquote>
        “i'm a cool phrase !”
      </blockquote>
    </div>
  </div>

  <div class="about-fun-facts">
    <h3>fun facts !</h3>
    <ul>
      <li>first fun fact c:</li>
      <li>second fun fact o_o</li>
      <li>third fun fact (u u</li>
    </ul>
  </div>

  <div class="about-grid">
    <article class="about-card">
      <h4>my fav food !</h4>
	  <p></p>
    </article>

    <article class="about-card">
      <h4>my fav drink !</h4>
      <p></p>
    </article>

    <article class="about-card">
      <h4>my fav music o-o</h4>
      <p></p>
    </article>

    <article class="about-card">
      <h4>what i'm currently studying 6u6</h4>
      <p></p>
    </article>
  </div>

  <!-- Cierre -->
  <footer class="about-footer">
    <p>
      my cool footer !
    </p>
  </footer>
</section>
</body>
</html>
